<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoUpdate</key>
	<true/>
	<key>gitManualUrl</key>
	<string>http://www.kernel.org/pub/software/scm/git/docs/user-manual.html</string>
	<key>stableUrl</key>
	<string>http://www.endlessinsomnia.com/lab/updates/gitbuddy/stable.plist</string>
	<key>develUrl</key>
	<string>http://www.endlessinsomnia.com/lab/updates/gitbuddy/devel.plist</string>
	<key>selectedUpdateSource</key>
	<integer>0</integer>
	<key>gitPath</key>
	<string>/opt/local/bin/git</string>
	<key>gitTimeout</key>
	<integer>5</integer>
	<key>commitLogShortcut</key>
	<dict>
		<key>characters</key>
		<string>L</string>
		<key>keyCode</key>
		<integer>37</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>stageFilesShortcut</key>
	<dict>
		<key>characters</key>
		<string>S</string>
		<key>keyCode</key>
		<integer>1</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>rescanShortcut</key>
	<dict>
		<key>characters</key>
		<string>R</string>
		<key>keyCode</key>
		<integer>15</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>addRepoShortcut</key>
	<dict>
		<key>characters</key>
		<string>N</string>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>cloneRepoShortcut</key>
	<dict>
		<key>characters</key>
		<string>C</string>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifierFlags</key>
		<integer>1572864</integer>
	</dict>
	<key>gitCloneTimeout</key>
	<integer>300</integer>
	<key>lastEventId</key>
	<integer>0</integer>
	<key>activeProjectPath</key>
	<string></string>
	<key>editorCmd</key>
	<string>mate</string>
	<key>eventsRescanDelay</key>
	<integer>5</integer>
	<key>monitoredPaths</key>
	<array/>
	<key>excludedPatterns</key>
	<array>
		<string>\S*\._\S*</string>
	</array>
</dict>
</plist>
